body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #fff8ec 0%, #ffdd8c 100%);
  font-family: 'Yu Gothic';
  padding-top: 5%;
}

/*ホームタブ*/
.hometabs {
  position: fixed;           /* 画面上部に固定 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background: rgba(255, 255, 255, 0.5); 
  display: flex;             /* 横並び */
  align-items: center;
  z-index: 2;               
}
.hometabs a {
  color: #000000;
  padding: 20px;
  font-size: 20px;
}

h1{
  padding-left: 10%;
}

.category{
  display: flex;
  align-items: center; 
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 30px;
  border-radius: 12px;
  background-color: rgb(255, 250, 243);
}
.category a{
  color: #000000;
  font-size: 30px;
}
.category img{
  width: 100px;
  height: 75px;
  object-fit: cover;
  margin-left: auto;
  margin-right: 0;
}