body {
      font-family: sans-serif;
    }

.layout {
      display: flex;
      min-height: 100vh;
    }

.main {
      flex: 1;
      position: relative;
      background-color: #d3d3d3; 
    }

.main .title {
      text-align: center;
      font-size: 4rem;
      margin-top: 3rem;
      font-weight: bold;
    }

.main .description-box {
      width: 70%;
      max-width: 800px;
      height: 200px;
      background-color: #666;
      border: 2px solid #213D42;
      color: #fff;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
    }

.sidebar {
      width: 280px;
      background-color: #fff;
      border-left: 2px solid #213D42;
      padding: 2rem 1rem;
    }

.sidebar h2 {
      margin-bottom: 1rem;
      font-size: 1.2rem;
      border-bottom: 1px solid #213D42;
      display: inline-block;
    }

.sidebar ul {
      list-style: none;
    }

.sidebar ul li {
      margin-bottom: 1rem;
      text-decoration: underline;
      text-align: center;
      font-size: 30px;
    }

.sidebar ul li a:hover {
      border-bottom: 1px solid #213D42;
    }

.sidebar .other-list {
      margin-top: 2rem;
    }

.sidebar .other-list li {
      font-size: 2rem;
      text-align: center;
      line-height: 1;
    }
